/* for index.html */

/* Logo styles */
.logosection{
    display: flex;
    align-items: center;
    background-color: rgb(85, 252, 255);
}
.logo{
    width: 130px;
    height: 130px;
    border-radius: 100px;
    border-color: black;
    margin-right: 250px;
}
.logodescription{   
    font-family: 'Arial', sans-serif;
    color: #000000;
    text-align: center;
    font-size: large;
}
/* Navigation bar styles */
nav {
    background-color: rgb(22, 189, 192);
    padding: 20px  10px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Arial', sans-serif;
    font-size: large;
}
nav a {
    color: #000000;
    text-decoration: none;
}
nav a:hover {
    color: #ffffff;
}
/* Main content styles */
.main {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #000000;
    position: absolute;
    top: 60px;
    left: 50px ;
    right: 50px;
    line-height: 25px;
    text-align: center;
}
.main1 {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #000000;
    position: absolute;
    top: 5px;
    left: 500px ;
    right: 50px;
}
.main2 {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    color: #000000;
    position: absolute;
    top: 250px;
    left: 50px ;
    right: 50px;
}
.features{
    font-family: 'Arial', sans-serif;
    font-size: medium;
    color: #000000;
    position: absolute;
    top: 350px;
    left: 70px ;
    right: 50px;
    line-height: 30px;
}
.blacklist{
position: relative;
}   
.main3{
    font-family: 'Arial', sans-serif;
    font-size: x-large;
    color: #000000;
    position: absolute;
    top: 530px;
    left: 380px ;
    right: 100px;
}
.mood{
    text-align: center;
    text-decoration: none;
    font-family: Arial,sans-serif;
    position: absolute;
    top: 600px;
    left: 350px ;
    right: 50px;
    padding: 20px 5px;
    font-size: large;
    background-color: rgb(22, 189, 192);
    color: #000000;
    cursor: pointer;
    width: 400px;
}
.mood:hover {
    background-color: rgb(85, 252, 255);
    color: #000000;
}
main{flex: 1;}
/* Footer styles */
.footer {
        background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #c3e20f;
    width: 100%;
    height: 50px;
}

/* for mood.html */
.moodheader{
    font-family: 'Arial', sans-serif;
    color: #000000;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(22, 212, 215);
   padding: 20px 10px;
}
.backgroundimg{
    width: 100%;
    height: auto;
    top: 10px;
}
.moodform{
    position: absolute;
    top: 200px;
    left: 50px ;
    right: 50px;
    font-size:large;
    color: #000000;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.feelingstaker{
    position: absolute;
    font-size: x-large;
    top: 200px;
    left: 400px;
}
#notepad-container{
    position: fixed;
    top: 300px;
    left: 300px ;
    right: 300px;
}
#notepad{
    width: 100%;
    height: 100px;
    font-size: medium;
    line-height: 30px;
    font-family: 'Arial', sans-serif;
    border-radius: 5px;
    background-color: #ffffff;
    background-image: linear-gradient(to right, #ee0505 4px, transparent 2px);
}
body{
    background-image:url(./background\ for\ smile\ website.jpg);
    background-attachment: cover;
    background-position: center;
    background-attachment: fixed;
}

/* help section */
header{
    font-family: 'Arial', sans-serif;
    color: #000000;
    text-align: center;
    font-size: x-large;
    background-color: rgb(22, 212, 215);
    padding: 10px 5px;
}
.sitedescription{
    font-family: 'Arial', sans-serif;
    color: #000000;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}
.sitesforhelp{
    font-family: 'Arial', sans-serif;
    color: #000000;
    font-size: 20px;
    margin-top: 20px;
    line-height: 29px;
}
.sitesforhelp a{
    color: #072194;
    text-decoration: none;
}
.sitesforhelp a:hover{
    color: rgb(233, 37, 16);
}
ul{
    list-style-type: square;
    list-style-position: inside;
}
.contactsection{
    font-family: 'Arial', sans-serif;
    color: #020304;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}
.contacts{
    font-family: 'Arial', sans-serif;
    color: #0b0b9f;
    font-size: 20px;
    margin-top: 20px;
    line-height: 29px;
}
ul li::marker{
    color: #000000;
}
.conclusion{
    font-family: 'Arial', sans-serif;
    color: #000000;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}