    /* for index.html */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Logo styles */
.logosection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(85, 252, 255);
  padding: 5px;
    gap: 5px;
    line-height: 60px;
  text-align: center;
}
.logo {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #000000;
  margin: 0 auto;
}
.logodescription {
  font-family: "Arial", sans-serif;
  color: #000000;
  font-size: 15px;
  text-align: center;
}

/* Navigation bar styles */
nav {
  background-color: rgb(22, 189, 192);
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: "Arial", sans-serif;
  font-size: 24px;
}
nav a {
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 10px 15px;
  white-space: nowrap;
}
nav a:hover {
  color: #ffffff;
}

/* Main content styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px 30px;
}

.card{
   width: 90%;
  max-width: 900px;
  margin: 40px auto;
  border-radius: 20px;
  line-height: 1.8;
}
.card h2{
  margin-bottom: 15ps;
  color: #072194;
}

/* about section */
.abouttitle{
  text-align: center;
  font-size: 30px;
  font-family: Arial, sans-serif;
  margin-top: 30px;
}
.aboutdescription{
  text-align: justify;
  font-size: 19px;
  margin-top: 30px;
}
/* buttons */
.moodbutton {
  text-align: center;
  text-decoration: none;
  font-family: Arial, sans-serif;
  align-items: center;
  padding: 20px 15px;
  font-size: large;
  background-color: rgb(22, 189, 192);
  color: #000000;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 20px auto;
  object-position:center ;
}
.moodbutton:hover {
  background-color: rgb(85, 252, 255);
  color: #000000;
}

/* Responsive section */
/* TABLET (≤ 768px) */
@media (max-width: 768px) {
  .abouttitle,
  .featurestitle,
  .endofpagetitle {
    font-size: 30px;
  }

  .aboutdescription,
  .featuresdescription {
    font-size: 16px;
  }

  nav {
    margin: 20px;
    justify-content: center;
    align-items: center;
  }
}

/* MOBILE (≤ 480px) */
@media (max-width: 480px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .abouttitle,
  .featurestitle,
  .endofpagetitle {
    font-size: 24px;
  }
}


 /* form */
 
 #popupForm{
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 19px;
 }
 select,input,textarea{
  width: 300px;
  max-width: 500px;
  padding: 5px;
  border-radius: 60px;
  font-size: 16px;
  text-align: center;
  margin: 10px 0;
 }
 textarea{
  min-height: 200px;
  resize: vertical;
 }



/* notepadsection */
#notepadcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  padding: 20px;
  margin-top: 1px;
}
#notpaddescription {
  font-family: "Arial", sans-serif;
  color: #000000;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
/* make the textarea look like a book */
textarea {
  width: 100%;
  max-width: 800px;
  min-height: 250px;
  padding: 20px;
  font-size: 18px;
  line-height: 40px;
  background-color: #ffffff;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 39px,
    #131212 40px
  );
  background-position-y: 20px;
  border-radius: 10px;
}
/* background image for the three sections */
body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  background-image: url(./background\ for\ smile\ website.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
html,
body {
  height: 100%;
  margin: 0;
}
#displayMood,
#displayDuration{
font-size: 35px;
text-align: center;
line-height: 50px;
}
.card h2{
text-align: center;
font-size: 30px;
color: #000000;
}
#advicetext {
  font-family: "Arial", sans-serif;
  color: #000000;
  font-size: 20px;
}

/* help section */
header {
  font-family: "Arial", sans-serif;
  color: #000000;
  text-align: center;
  font-size: x-large;
  background-color: rgb(22, 212, 215);
  padding: 10px 5px;
}
.sitedescription {
  font-family: "Arial", sans-serif;
  color: #bd1c1c;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}
.sitesforhelp {
  font-family: "Arial", sans-serif;
  color: #02373c;
  font-size: 20px;
  margin-top: 20px;
  line-height: 30px;
}
.sitesforhelp a {
  color: #000000;
  text-decoration: none;
}
.sitesforhelp a:hover {
  color: rgb(233, 37, 16);
}
.contactsforhelp{
  line-height: 30px;
  font-family: Arial, sans-serif;
  font-size: 20px;
}
ul {
  list-style-type: square;
  list-style-position: inside;
  font-size: 20px;
}
.contactsection {
  font-family: "Arial", sans-serif;
  color: #020304;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

ul li::marker {
  color: #000000;
}
.conclusion {
  font-family: "Arial", sans-serif;
  color: #000000;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

footer{
  text-align: center;
  padding: 30px;
  background-color: rgb(4, 3, 5);
  color: rgb(229, 135, 13);
  }